#nav  {
    display: block;
    width: 100%;
    overflow: hidden;

}
 
#nav ul {

    width:100%;
    margin:0 auto;
    padding: .2em;
    float: left;
    list-style: none;

    
}
#nav li {
    float:left;
}
 
#nav a {
    float:left;
    padding: .6em .7em;
    text-decoration: none;
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 1.0em/1.1 'Comic Sans MS', Arial, Helvetica;



    
 }
  
#nav a:hover, nav a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    color:#800000;
    text-decoration:none;


}
 
#nav a:active {
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    text-decoration:none;
}
  
#nav li:first-child a {
    border-left: 0;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;           
}

nav li:last-child a {
    border-right: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;           
}
#contentField{
    padding:35px;
    padding-bottom:10%;
    width:60%;

    margin:0 auto;
    background: url('../Content/perchament2.png') no-repeat center;
    height:100%;
    background-size:cover;
    

    
}
body{
background: url('../Content/backpict.jpg') no-repeat center center fixed;
background-size:cover;
font-family:'Comic Sans MS';
height:100%;
}

#navCont{
    margin:0 auto;
}
#categories{
    text-align:center;
    
}
#categories a{
    text-decoration:none;
    color:black;
}
#categories a:hover,#categories  a:focus, #categories a:active {
    color:#800000;
}
input[type=button],input[type=submit] {
    background:none;
    border:none;
    cursor:pointer;
    font: bold 1.2em/1.3 'Comic Sans MS', Arial, Helvetica;
}
    input[type=button]:hover,input[type=submit]:hover {
    color:#800000;
    }
    input[type=text]
    {
   background:none;
    border:none;
    cursor:pointer;
    font: bold 1.2em/1.3 'Comic Sans MS', Arial, Helvetica;
    border-bottom:dotted;
  
    }
.photo{
    width:30%;
    margin-left:35%;
 
}
.headers{
    text-align:center;
}

hr{
     width: 100%; /* ширина линии */
    height: 0.1vw; /* высота / толщина линии */
    background-color: black; /* фон / цвет линии */
    border: 0; /* рамка вокруг разделительной линии (уберем ее) */
    margin: 5px 0 5px 0; /* отступ над и под линией 5 пикселей */
}
.headerCategory{
    text-align:center;
}