
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>О Косом Переулке</h2>
@Html.Action("Categories")
<p>Годы идут, технологии развиваются, маглы изобрели Интернет и вот уже несколько лет, как маги закупаются на AliExpress. Мы намерены возродить старые традиции.
    Вашему вниманию представлена онлайн-версия Косого Переулка!  </p>