
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Заказ</h2>
@using (Html.BeginForm("OrderResult", "Shop"))
{
    <p>Адрес электронной почты <input type="text" name="OrderMail" /></p>
    <br />
<p>Полное имя <input type="text" name="FullName" />
</p>
    <br />
    <input type="submit" name="submit" value="Отправить сову" />
    }

