<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <link rel="stylesheet" type="text/css" href="~/Content/mainstyle.css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <p>Здесь будет отображаться меню сайта</p>
        @RenderBody()
    </div>
</body>
</html>
