
@{
    ViewBag.Title = "Главноая страница";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Главная страница</h2>
<p>Восточный центр позитроники - организация, действующая во имя Алого Короля.</p>

